<h1>BOOKS</h1>
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Book Title</th>
      <th scope="col">Description</th>
      <th scope="col">Id</th>
      <th scope="col">CRUD</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>


  <tbody>
    <% @books.each do |data| %>
    <tr> 
        <td> <%= data.tile %> </td>
        <td> <%= data.description %> </td>
        <td> <%= data.id %> </td>

      <td>


      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <%= link_to 'Show', book_path(data),class: "btn btn-warning" %> &nbsp;&nbsp
        <%= link_to 'Edit', edit_book_path(data), class: "btn btn-warning" %> &nbsp;&nbsp
        <%= link_to 'Destroy', book_path(data), :method => :delete, class: "btn btn-warning" %>
      </div>
      </td>

     <% data.books_tags.each do |t| %>
        <td> <button class= 'btn btn-dark'> <%= t.tag.name %> </button> </td>
     <% end %>
    </tr>

    <% end %>
  </tbody>
</table>



